@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
.mih2 {
  font-size: 20px;
  font-family: "Prata", serif;
}

h1 {
  font-family: "Prata", serif;
}

.mip {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
}

header {
  height: 100vh;
  width: 100%;
  margin-bottom: 30px;
}
header .tite {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
header .tite h1 {
  z-index: 1;
  padding-left: 70%;
}
header .tite .vertical {
  padding: 1rem;
  font-size: 16px;
  transform: rotate(-90deg);
  width: max-content;
}
header .content .contentimg {
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
}
header .content .contentimg .indicador {
  position: absolute;
  top: 23%;
  left: 73%;
}
header .content .contentimg .producto-0 {
  position: absolute;
  height: 60vh;
  object-fit: cover;
}
header .content .contentheader {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 40vh;
}

.index1 {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}
.index1 .imgIndex1 {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.index1 .imgIndex1 img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.index1 .imgIndex1 .indicador {
  position: relative;
  top: -100%;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.index1 .imgIndex1 .indicador img {
  position: absolute;
  bottom: 50%;
  right: 74%;
  width: 80px;
  height: 80px;
  animation: miAni 1s infinite;
}
@keyframes miAni {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(120%);
  }
  100% {
    transform: scale(100%);
  }
}
.index1 .contentIndex1 {
  color: white;
  position: absolute;
  margin-top: 70vh;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.463);
}

.index2 {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}
.index2 .imgIndex2 {
  height: 100vh;
  overflow: hidden;
}
.index2 .imgIndex2 img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.index2 .imgIndex2 .indicador {
  position: relative;
  top: -100%;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.index2 .imgIndex2 .indicador img {
  position: absolute;
  bottom: 50%;
  right: 45%;
  width: 80px;
  height: 80px;
  animation: miAni 1s infinite;
}
@keyframes miAni {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(120%);
  }
  100% {
    transform: scale(100%);
  }
}
.index2 .index2Tite {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.index2 .index2Tite .vertical {
  padding: 1rem;
  font-size: 16px;
  transform: rotate(-90deg);
  width: max-content;
}
.index2 .contentIndex2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.index2 .contentIndex2 article {
  width: 80%;
}
.index2 .contentIndex2 .prod .imgprod {
  max-width: 100%;
}
.index2 .contentIndex2 .prod .carrito {
  max-width: 10%;
}
.index2 .contentIndex2 .prod .carritoDiv {
  display: flex;
  justify-content: end;
}

.index3 {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}
.index3 .index3Tite {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.index3 .index3Tite .vertical {
  padding: 1rem;
  font-size: 16px;
  transform: rotate(-90deg);
  width: max-content;
}
.index3 .index3Col1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.index3 .index3Col1 .index3colection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.index3 .index3Col1 .index3colection .index3Co {
  width: 230px;
  height: 230px;
  margin: 5px;
  object-fit: cover;
}
.index3 .index3Div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.index4 {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.index4 .index4Tite {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.index4 .index4Tite .vertical {
  padding: 1rem;
  font-size: 16px;
  transform: rotate(-90deg);
  width: max-content;
}
.index4 .articulos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.index4 .articulos .articuloPilcera {
  margin: 5px;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.index4 .articulos .articuloPilcera img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}
.index4 .articulos .articuloPilcera h2 {
  margin: 20px 0;
}
.index4 .articulos .articuloPilcera .carrito {
  width: 20px;
  height: 20px;
}
.index4 .articulos1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.index4 .articulos1 .articulocaravanas {
  width: 40%;
  height: 50vh;
  margin: 5px;
  overflow: hidden;
}
.index4 .articulos1 img {
  object-fit: cover;
  width: 100%;
  height: 150px;
}
.index4 .articulos1 h2 {
  margin: 10px 0;
  font-size: 16px;
}
.index4 .articulos1 p {
  font-size: 16px;
}
.index4 .articulos1 .carrito {
  width: 20px;
  height: 20px;
}

/*# sourceMappingURL=style.css.map */
