
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
// font-family: 'Prata', serif;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
//font-family: 'Raleway', sans-serif;

.mih2{
    font-size: 20px;
    font-family: 'Prata', serif;
}

h1{
    font-family: 'Prata', serif;
}

.mip{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
}


header{
    height: 100vh;
    width: 100%;
    margin-bottom: 30px;

    .tite{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        h1{
            z-index: 1;
            padding-left: 70%;
        }

        .vertical{
            padding: 1rem;
            font-size: 16px;
            transform: rotate(-90deg);
            width: max-content;
        }

    }

    .content{
        
        .imgheader{
            width: 100%;
            height: 60vh;
            overflow: hidden;

            .imgHeado1{
                width: 100%;
                height: 60vh;
                object-fit: cover;
            }

            .indicador{
                position: absolute;
                width: 80vw;
                height: 60vh;
                z-index: 1;
            
              
                img{
                    position: absolute;
                    bottom: 50%;
                    right: 15%;
                    width: 80px;
                    
                    animation: miAni 1s infinite;
                }

                @keyframes miAni {

                    0%{
                        transform: scale(100%);
                    }
                    50%{
                        transform: scale(120%);
                    }
                    100%{
                        transform: scale(100%);
                    }
                    
                }
            }
            
        }

        .contentheader{
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            height: 40vh;
        }

    }
}

.index1{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;

    .imgIndex1{
        height: 100vh;
        width: 100%;
        overflow: hidden;

        img{
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }

        .indicador{
            position: relative;
            top: -100%;
            width: 100%;
            height: 100vh;
            z-index: 1;
        
          
            img{
                position: absolute;
                bottom: 50%;
                right: 74%;
                width: 80px;
                height: 80px;
                
                animation: miAni 1s infinite;
            }

            @keyframes miAni {

                0%{
                    transform: scale(100%);
                }
                50%{
                    transform: scale(120%);
                }
                100%{
                    transform: scale(100%);
                }
                
            }
        }
    }

    .contentIndex1{
        color: white;
        position: absolute;
        margin-top: 70vh;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.463);
    }

}

.index2{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;

    .imgIndex2{
        height: 100vh;
        overflow: hidden;

        img{
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }

        .indicador{
            position: relative;
            top: -100%;
            width: 100%;
            height: 100vh;
            z-index: 1;
        
          
            img{
                position: absolute;
                bottom: 50%;
                right: 45%;
                width: 80px;
                height: 80px;
                
                animation: miAni 1s infinite;
            }

            @keyframes miAni {

                0%{
                    transform: scale(100%);
                }
                50%{
                    transform: scale(120%);
                }
                100%{
                    transform: scale(100%);
                }
                
            }
        }
    }

    .index2Tite{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .vertical{
            padding: 1rem;
            font-size: 16px;
            transform: rotate(-90deg);
            width: max-content;
        }
    }

    .contentIndex2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        article{
            width: 80%;
        }

        .prod{
            .imgprod{
                max-width: 100%;
            }
            .carrito{
                max-width: 10%;
            }
            .carritoDiv{
                display: flex;
                justify-content: end;
            }
        }
    }
}

.index3{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;

    .index3Tite{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .vertical{
            padding: 1rem;
            font-size: 16px;
            transform: rotate(-90deg);
            width: max-content;
        }
    }

    .index3Col1{

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .index3colection{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .index3Co{
                width: 230px;
                height: 230px;
                margin: 5px;

                object-fit: cover;
                
            }
        }

        
    }

    .index3Div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
}

.index4{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;


    .index4Tite{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .vertical{
            padding: 1rem;
            font-size: 16px;
            transform: rotate(-90deg);
            width: max-content;
        }
    } 

    .articulos{

        display: flex;
        justify-content: space-around;
        align-items: center;

        .articuloPilcera{
            margin: 5px;
            width: 50%;
            height: 100%;
            overflow: hidden;

            img{
                object-fit: cover;
                width: 100%;
                height: 300px;
            }

            h2{
                margin: 20px 0;
            }

            .carrito{
                width: 20px;
                height: 20px;
            }
        }

    }

    .articulos1{

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .articulocaravanas{
            width: 40%;
            height: 50vh;
            margin: 5px;
            overflow: hidden;
        }

        img{
            object-fit: cover;
            width: 100%;
            height: 150px;
        }

        h2{
            margin: 10px 0;
            font-size: 16px;
        }
        p{
            font-size: 16px;
        }

        .carrito{
            width: 20px;
            height: 20px;
        }
    }

    
}